<!DOCTYPE html>
{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotive+</title>
    <link rel="icon" href="{% static 'img/logo.png'%}">
    <link rel="stylesheet" href="{% static 'css/acesso.css'%}">
    <script src="{% static 'script/acessopaciente.js'%}"></script>
</head>
<body> 
        <div class="UserLogado"> 
            <h1 id="greeting">Como você está hoje, {{ usuario.nome }} ?</h1> 
            <button onclick="sendMood('Feliz')">Feliz 😀</button> 
            <button onclick="sendMood('Cansado')">Cansado 😫</button> 
            <button onclick="sendMood('Enjoado')">Enjoado 🤢</button> 
            <button onclick="sendMood('Triste')">Triste 😞</button> 
            <button onclick="sendMood('Com Dor')">Com Dor 😵‍💫</button> 
    </div>
</body>
</html>