{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMOTIVE+</title>
    <link rel="icon" href="{% static 'img/logocadastro.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/cadastroUser.css'%}">

</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logoComNome.png' %}" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Página Inicial</a></li>
                <li><a href="#">Como Usar</a></li>
                <li><a href="login.html">Fazer Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="forme_cadastro">


            <form method="post">
                {% csrf_token %}


                <img src="{% static 'img/logoComNomecadastro.png'%}" alt="">
                <label for="nome">Nome:</label>
                {{ form.nome }}

                <br>


                <label for="email">Email: </label>
                {{ form.email }}
                <!--menssagem de erro, email ja existe-->
                {% for field in form %}
                {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}

                <br>

                <label for="cpf">CPF: </label>
                {{ form.cpf }}


                <br>

                <label for="endereco">Endereço: </label>
                {{ form.endereco }}

                <br>
                <label for="telefone">Telefone: </label>
                {{ form.telefone }}

                <br>



                <label for="{{ form.sexo.id_for_label }}">Sexo: </label>
                <select id="sexo" name="sexo">
                    <option value="" selected>Selecione</option>
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outro">Outro</option>
                </select>

                <br>

                <label for="dataNascimento">Data de Nasimento: </label>
                {{ form.dataNascimento }}

                <br>



                <label for="{{ form.tipoDoenca.id_for_label }}">Tipo de Doença Cronica: </label>
                <select name="tipoDoenca" id="tipoDoenca">
                    <option value="" selected>Selecione</option>
                    <option value="doencas-cardiovasculares">Doenças Cardiovasculares</option>
                    <option value="hiv">HIV</option>
                    <option value="Diabete">Diabetes</option>
                    <option value="Obesidade">Obesidade</option>
                    <option value="Cancer">Cancer</option>
                    <option value="avc-ou-ave">AVC ou AVE</option>
                    <option value="Artrite-e-Artrose">Artrite e Artrose</option>
                    <option value="Transtornos-Mentais">Transtornos Mentais</option>
                    <option value="Doenças-Hepaticas-Cronicas">Doenças Hepáticas Crônicas</option>
                    <option value="Doenças-Endocrinas-e-Metabolicas">Doenças Endócrinas e Metabólicas</option>
                    <option value="Osteoporose">Osteoporose</option>
                    <option value="Esclerose-Multipla">Esclerose Múltipla</option>
                    <option value="Doencas-Renais-Cronicas">Doenças Renais Crônicas</option>
                    <option value="Doenca-de-Parkinson">Doença de Parkinson</option>
                    <option value="Doenca-de-Alzheimer ">Doença de Alzheimer </option>
                </select>





                <label for="senha">Senha: </label>
                {{ form.senha }}
                <br>

                <br><br>

                <button class="cadastrar" type="submit">Cadastrar</button>
            </form>

        </div>
    </div>

    <footer>
        <p>&copy;2024 Meu Site. Todos os Direitos Resevados.</p>
    </footer>

    <script>
        // Aplique a máscara de telefone no campo de telefone
        const telefoneInput = document.getElementById('id_telefone');
        const mask = new Inputmask('(99) 99999-9999');  // Máscara de telefone
        mask.mask(telefoneInput);  // Aplica a máscara no campo com o id 'id_telefone'
    </script>
</body>

</html>