{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotive+</title>
    <link rel="icon" href="{% static 'img/logo.png'%}">
    <link rel="stylesheet" href="{% static 'css/intense.css'%}">
    <script src="{% static 'script/intensidadepaciente.js'%}" defer></script>
    <script src="https://kit.fontawesome.com/9d26e4abf2.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Cabeçalho -->
    <header class="header">
        <div class="logo">
            <img src="{% static 'img/logoComNome.png'%}" alt="Logo Hapvida">
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/sistema">Página inicial</a></li>
                <li><a href="/dicas/">Dicas de Alimentações</a></li>
                <li><a href="#">Como usar</a></li>
                <li><a href="#">Contato</a></li>
                <li><a class="btlogin" href="/sistema/login"> <i class="fa-solid fa-right-from-bracket"></i> Fazer Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Seção principal com os pontos de interação -->
    <section class="container">
        <div class="contentbo">
            <div class="intesUser">
                <br>
                <h1>Sr(a). {{ userp }} qual a área do seu corpo que você sente dor:</h1>
                <div class="canvas-container">
                    <img class="boneco" src="{% static 'img/modelo-de-corpo-de-homem-em-branco-vista-frontal-e-traseira_125371-322.avif'%}" alt="Boneco Humano">
                    
                    <!-- Pontos interativos na imagem -->
                    <div class="ponto" style="top: 5%; left: 26%;" data-area="Cabeça"></div>
                    <div class="ponto" style="top: 15%; left: 71.4%;" data-area="Nuca"></div>
                    <div class="ponto" style="top: 28%; left: 20%;" data-area="Peito Direito"></div>
                    <div class="ponto" style="top: 28%; left: 32%;" data-area="Peito Esquerdo"></div>
                    <div class="ponto" style="top: 22%; left: 62%;" data-area="Ombro Esquerdo"></div>
                    <div class="ponto" style="top: 22%; left: 81%;" data-area="Ombro Direito"></div>
                    <div class="ponto" style="top: 40%; left: 13%;" data-area="Braço Direito"></div>
                    <div class="ponto" style="top: 40%; left: 39%;" data-area="Braço Esquerdo"></div>
                    <div class="ponto" style="top: 52%; left: 10%;" data-area="Mão Direito"></div>
                    <div class="ponto" style="top: 52%; left: 42%;" data-area="Mão Esquerda"></div>
                    <div class="ponto" style="top: 52%; left: 56%;" data-area="Pulso Esquerdo"></div>
                    <div class="ponto" style="top: 52%; left: 87%;" data-area="Pulso Direito"></div>
                    <div class="ponto" style="top: 40%; left: 26%;" data-area="Barriga"></div>
                    <div class="ponto" style="top: 35%; left: 71%;" data-area="Coluna"></div>
                    <div class="ponto" style="top: 45%; left: 31.8%;" data-area="Costela"></div>
                    <div class="ponto" style="top: 40%; left: 58%;" data-area="Cotuvelo Esquerdo"></div>
                    <div class="ponto" style="top: 40%; left: 85%;" data-area="Cotuvelo Direito"></div>
                    <div class="ponto" style="top: 50%; left: 26%;" data-area="Virilha/Púbica"></div>
                    <div class="ponto" style="top: 50%; left: 68%;" data-area="Glúteos"></div>
                    <div class="ponto" style="top: 50%; left: 75%;" data-area="Glúteos"></div>
                    <div class="ponto" style="top: 45%; left: 75%;" data-area="Cóccix"></div>
                    <div class="ponto" style="top: 60%; left: 21%;" data-area="Coxa direita"></div>
                    <div class="ponto" style="top: 60%; left: 31%;" data-area="Coxa esquerda"></div>
                    <div class="ponto" style="top: 60%; left: 67%;" data-area="Posterior Coxa Esquerda"></div>
                    <div class="ponto" style="top: 60%; left: 75%;" data-area="Posteior Coxa Direita"></div>
                    <div class="ponto" style="top: 70%; left: 22%;" data-area="Joelho direita"></div>
                    <div class="ponto" style="top: 70%; left: 30%;" data-area="Joelho esquerda"></div>
                    <div class="ponto" style="top: 80%; left: 22%;" data-area="Perna direita"></div>
                    <div class="ponto" style="top: 80%; left: 30%;" data-area="Perna esquerda"></div>
                    <div class="ponto" style="top: 80%; left: 30%;" data-area="Perna esquerda"></div>
                    <div class="ponto" style="top: 80%; left: 67%;" data-area="Posterior Perna Esquerda"></div>
                    <div class="ponto" style="top: 80%; left: 75%;" data-area="Posterior Perna Direita"></div>
                    <div class="ponto" style="top: 93%; left: 67%;" data-area="Tendão Esquerdo"></div>
                    <div class="ponto" style="top: 93%; left: 75%;" data-area="Tendão direita"></div>
                    <div class="ponto" style="top: 93%; left: 23%;" data-area="Pé direita"></div>
                    <div class="ponto" style="top: 93%; left: 29%;" data-area="Pé esquerda"></div>
                </div>
                <div id="informacao">Clique em um ponto para mais informações.</div>
            </div>

            <br><br><br>

            <h1>Qual a intensidade?</h1>
            <button class="forte" onclick="sendMood('Forte')">Forte</button>
            <button class="medio" onclick="sendMood('Médio')">Médio</button>
            <button class="fraco" onclick="sendMood('Fraco')">Fraco</button>
        </div>
    </section>

    <form id="painForm" action="mensagemdia" method="POST" style="display: none;">
        <input type="hidden" id="painLocation" name="painLocation">
        <input type="hidden" id="painIntensity" name="painIntensity">
    </form>

    <section class="sobre">
        <div class="sobre">
            <div id="contactir" class="sobreTexto">
                <br><br><br>
                <h2>Sobre a Emotive +</h2>
                <p>Conheça mais sobre a nossa história e o compromisso com a sua saúde.</p>
                <p><a class="emailfooter" href="mailto:contato@emotivesaude.com.br">Contato: contato@emotivesaude.com.br </a></p>
            </div>
        </div>

        <div class="sobreImagem">
            <img src="{% static 'img/redessociais.png'%}" alt="Cuide da saúde com qualidade">
        </div>
    </section>

    <!-- Rodapé -->
    <footer class="footer">
        <p>&copy; 2024 Turma 232 - Todos os direitos reservados</p>
        <p><a class="emailtermos" href="termos">Termos de Uso | Políticas de Privacidade</a></p>
    </footer>
</body>
</html>
