body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
header {
    position: absolute; 
    top: 20px; 
    right: 100px;
    color: white;
    background-color: #16500c;
    padding: 10px 20px;
    border-radius: 8px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo da caixa de consulta */
.consulta-container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.consulta-container h1 {
    font-size: 1.8rem;
    color: #16500c;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 1rem;
    color: #333;
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #16500c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #16500c;
}

.result {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
}