/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header, .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    padding: 20px;
    color: #226716;
    position: relative;
    z-index: 2;
}

.header .logo img {
    width: 250px;
}

.nav ul {
    list-style-type: none;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: #226716;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.nav .btlogin:hover {
    color: white;
}
.nav ul li a:hover {
    text-decoration: none;
    color: #ffa537;
}

/* Tela de Carregamento */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 03s ease;
}

#loading-screen .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 03s linear infinite;
}

/* Animação para o carregamento */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Banner */
.banner {
    padding: 100px 20px;
    background-color: #226716;
    color: white;
    text-align: center;
    background: rgba(34, 103, 22, 0.9);
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

nav ul li a, .btlogin, .cta-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btlogin, .cta-button, .card-btn {
    padding: 10px 20px;
    background-color: #5bb450;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.btloginp{
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.btlogin:hover, .cta-button:hover, .card-btn:hover {
    background-color: #3b8c2e;
}

/* Seção Sobre */
.about {
    padding: 40px 20px;
    text-align: center;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.about p {
    font-size: 1.2em;
}

/* Rodapé */
.footer {
    background-color: #226716;
    color: white;
    text-align: center;
    padding: 20px 0;
    background: rgba(34, 103, 22, 0.9);
}

/* Estilos do slider */
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slides {
    display: flex;
    transition: transform 1s ease;
    width: 450%;
    animation: slideInOut 80s infinite;
}

.slides img {
    background-size: 100%;
    min-width: 100%;
    border-radius: 8px;                     /* Adiciona bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra sutil */
    width: 100%;                            /* Ajusta a largura da imagem */
    height: 100%;                           /* Ajusta a altura da imagem */
    object-fit: cover;                      /* Faz a imagem cobrir o contêiner sem distorção */
    animation: slideAnimation 5s ease-in-out infinite; /* Animação de deslizamento */
}
/* Definindo a animação com keyframes */
@keyframes slideAnimation {
    0% {
        transform: translateX(0);         /* Começa no estado inicial */
    }
    50% {
        transform: translateX(-1%);      /* Move a imagem 10% para a esquerda */
    }
    100% {
        transform: translateX(0);         /* Retorna à posição inicial */
    }
}
.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot:hover {
    background-color: #717171;
}

/* Estilo para o slide ativo */
.slides.active {
    background-color: #ddd;
}

/* Estilo para a bolinha ativa */
.dot.active {
    background-color: #333;
}
/* Seção dos Cards */
.cards-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 10%;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    max-width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 16px;
}

.banner {
    background-image: url("../img/medicobg.jpeg");
    background-size: cover; /* Garantir que a imagem cubra todo o container */
    margin-top: 2px;
    height: 400px; /* Ajuste da altura para manter a imagem no tamanho desejado */
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-content {
    color: white; /* Para garantir que o texto seja legível sobre a imagem */
}

h1, .banner p {
    font-size: 20px; /* Ajusta o tamanho da fonte do h1 e p */
    margin: 0;
}

.banner p {
    font-size: 25px; /* Diminuir o tamanho da fonte para o parágrafo */
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-top: 8px;
}

.card:hover {
    transform: translateY(-5px);
}

/* Consultas de mídia */
@media (max-width: 991.98px) {
    .header, .header .logo img, .nav ul, .cards-container {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .header .logo img {
        width: 100px;
    }

    .banner {
        padding: 60px 20px;
    }

    .about {
        padding: 30px 20px;
    }

    .footer {
        padding: 15px 0;
    }

    .card {
        max-width: 100%;
    }

    .slides img {
        min-width: 100%;
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .hidden-xs {
        display: none !important;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .banner h1 {
        font-size: 2em;
    }

    .banner p {
        font-size: 1em;
    }

    .cta-button, .btlogin {
        margin-top: 10px;
    }

    .cards-container {
        flex-direction: column;
    }
}

/* Seção de Depoimentos */
.testimonials {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
    background-image: url(/img/backgroudDepoimento.png);
}

.testimonials h2 {
    font-size: 2.5em;
    color: #226716;
    margin-bottom: 40px;
}

.testimonial-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-img {
    flex: 0 0 80px;
    margin-right: 20px;
}

.testimonial-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-text {
    flex: 1;
    text-align: left;
    padding: 10px;
}

.testimonial-quote {
    font-size: 1.2em;
    font-style: italic;
    color: #555;
    margin-bottom: 15px;
}

.testimonial-author {
    font-size: 1em;
    font-weight: bold;
    color: #226716;
}

@media (max-width: 768px) {
    .testimonial-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .testimonial-img {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

/* Seção Saúde é Prioridade */
.health-priority {
    padding: 60px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.health-priority h2 {
    font-size: 2.5em;
    color: #226716;
    margin-bottom: 40px;
}

.health-priority-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.health-priority-text, .health-priority-image {
    background-color: transparent;
    flex: 1;  /* Distribui o espaço igualmente entre os elementos */
}

.health-priority-text {
    padding: 20px;
    font-size: 1.2em;
    color: #555;
    text-align: left;
}

.health-priority-image {
    padding: 20px;
}

.health-priority-image img {
    width: 100%;
    background-color: transparent;
}
.custom-link {
    text-decoration: none; /* Remove o sublinhado */
    color: black; /* Define a cor do link */
}

.custom-link:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse, se desejar */
    color: white; /* Altera a cor ao passar o mouse, se desejar */
}

.emailfooter {
    color: rgb(0, 0, 0); /* Altere esta cor conforme necessário */
    text-align: center;
    justify-content: space-between;
}

.emailfooter:hover {
    color: rgb(96, 91, 91); /* Altere esta cor conforme necessário */
}
.emailfooter {
    float: center; /* Alinha a div à direita */
    text-align: center; /* Opcional: alinha o texto à direita */
}
.emailtermos {
    color: #f4f4f4;
    text-align: right; /* Opcional: alinha o texto à direita */
}
.emailtermos:hover {
    color: rgb(255, 255, 255); /* Altere esta cor conforme necessário */
}
.health-priority-text {
    padding: 20px;
    font-size: 1.2em;
    color: #555;
    text-align: left;
}

.redes-priority-image {
    padding: 10px;
}

.redes-priority-image img {
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.emailfooter {
    color: rgb(0, 0, 0); /* Altere esta cor conforme necessário */
    text-align: center;
    justify-content: space-between;
}

.emailfooter:hover {
    color: rgb(96, 91, 91); /* Altere esta cor conforme necessário */
}
.emailfooter {
    float: center; /* Alinha a div à direita */
    text-align: center; /* Opcional: alinha o texto à direita */
}
.emailtermos {
    color: #f4f4f4;
    text-align: right; /* Opcional: alinha o texto à direita */
}
.emailtermos:hover {
    color: rgb(255, 255, 255); /* Altere esta cor conforme necessário */
}
.sobre {
    display: flex;
    gap: 20px; /* Espaço entre a imagem e o texto */
}

.sobreTexto {
    float: center;
    padding: 20px;
    font-size: 1.2em;
    color: #555;
    text-align: left;
}

/* Estilos para a div que contém a imagem e o texto */
.sobreImagem {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    width: 100%;
    height: 100%;             /* Garante que ocupe toda a altura */
    text-align: center;       /* Centraliza o texto dentro */
    position: relative;       /* Para posicionar o botão de forma relativa ao contêiner */
    overflow: hidden;         /* Garante que o conteúdo extra não ultrapasse as bordas */
}

/* Style for navigation dots */
.dots {
    position: absolute;
    bottom: 40x;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: white;
    border-radius: 80%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #475cff; /* Active dot color */
}
/* Estilo do Modal */
.modal {
    display: none; /* Oculta o modal inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
  /* Conteúdo do Modal */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    text-align: center;
    position: relative;
    color:#226716
}
  
  /* Botão de fechar */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}