<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Dicas de Saúde</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="img/logoComNome.png" alt="Logo Hapvida">
        </div>
        <nav class="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="alimentos.html">Alimentação</a></li>
                <li><a href="exercicios.html">Exercícios</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a class="btlogin" href="login.html"> Fazer login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="post">
            <img src="img/caminhada.jpeg" alt="Caminhada para controle de doenças crônicas">
            <div class="post-content">
                <h2>Caminhada</h2>
                <div class="text-container"> 
                        <span id="more-text" class="more-text"> <br><h2>Cuidados Importantes:</h2>  O profissional pode avaliar sua situação específica e recomendar o melhor plano de exercícios, garantindo que a caminhada seja feita de forma segura e eficaz, sem riscos à sua saúde. Não é recomendado iniciar a prática por conta própria sem a orientação adequada.
                            <br><br>Atividade: Caminhada em ritmo moderado.
                            <br><br>
                            • Ajuste o ritmo para um nível confortável: se conseguir conversar sem se sentir ofegante, está no ritmo certo.
                            <br><br>
                            • Caminhe em terrenos planos e seguros.
                            <br><br>
                            • Monitore sinais do corpo, como cansaço excessivo, tontura ou dor.
                            Pausas:
                            <br><br>
                            • Faça pausas a cada 10 minutos para hidratação (1 a 2 minutos).
                            <br><br>
                            • Se sentir necessidade, aumente a frequência das pausas..</span>
                        </section>
</main>
<section class="sobre">
    <div class="sobre">
        <div class="sobreTexto">
            <br>
            <br><br>
            <h2>Sobre a Emotive +</h2>
            <p>Conheça mais sobre a nossa história e o compromisso com a sua saúde.</p>
            <p><a class="emailfooter" href="mailto:contato@emotivesaude.com.br">Contato: contato@emotivesaude.com.br </a></p>
        </div>
    </div>

    <div class="sobreImagem">
        <img  src="img/redessociais.png" alt="Cuide da saúde com qualidade">
    </div>
</section>
    <!-- Rodapé -->
    <footer class="footer">
        <p>&copy; 2024 Turma 232 - Todos os direitos reservados</p>
        <p><a class="emailtermos" href="termos.html">Termos de Uso | Politícas de Privacidade</a></p>
    </footer>
</body>