{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - [Nome do Site]</title>
    <link rel="stylesheet" href="{% static 'css/estilocont.css'%}">
</head>
<body>
    <header>
        <h1>Entre em Contato Conosco</h1>
        <p>Se você tiver dúvidas ou precisar de mais informações, entre em contato com a nossa equipe.</p>
    </header>
    
    <nav>
        <ul>
            <li><a href="/dicas">Home</a></li>
            <li><a href="alimentos">Alimentação</a></li>
            <li><a href="exercicios">Exercícios</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="contato">Contato</a></li>
        </ul>
    </nav>

    <main>
        <section class="contato">
            <h2>Informações de Contato</h2>
            <p>Você pode nos contatar de diversas formas. Escolha a que for mais conveniente para você:</p>
            
            <ul>
                <li><strong>E-mail:</strong> <a href="mailto:contato@saudepersonalizada.com">contato@saudebemestar.com</a></li>
                <li><strong>Telefone:</strong> (81) 4321-3214</li>
            </ul>

            <h3>Redes Sociais</h3>
            <p>Siga-nos nas redes sociais para receber dicas e atualizações sobre saúde e bem-estar:</p>
            <ul class="social">
                <li><a href="https://facebook.com/saudepersonalizada" target="_blank">Facebook</a></li>
                <li><a href="https://instagram.com/saudepersonalizada" target="_blank">Instagram</a></li>
                <li><a href="https://twitter.com/saudepersonalizada" target="_blank">Twitter</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Saúde e Bem-estar. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
