{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Dicas de Atividade Física e Saúde</title>
    <link rel="stylesheet" href="{% static 'css/stylesobre.css'%}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'img/logoComNome.png'%}" alt="Logo Hapvida">
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">Página inicial</a></li>
                <li><a href="/dicas/alimentos">Alimentação</a></li>
                <li><a href="/dicas/exercicios">Exercícios</a></li>
                <li><a href="/dicas/comoUsar">Como Usar</a></li>
                <li><a href="/dicas/contato">Contato</a></li>
                <li><a class="btlogin" href="/sistema/login"><i class="fa-solid fa-user"></i> Pacientes</a></li>
            </ul>
        </nav>
    </header>
<h1 class="Titulo1">Sobre Nós</h1>
<br>
<p class="Frase"><big>Orientações e recursos para pessoas com doenças crônicas viverem com mais qualidade de vida.</big></p>
<main>
    <section class="post">
        <h1>Sobre Nós</h1>
        <p>Bem-vindo ao <strong>Emotive+</strong>! Nossa plataforma é dedicada ao monitoramento e à melhoria da saúde física e emocional dos nossos usuários. Nosso objetivo é fornecer informações diárias e personalizadas sobre saúde, ajudando na prevenção e no diagnóstico precoce de doenças degenerativas e outras condições de saúde.</p>

        <h2>Nossa Missão</h2>
        <p>Nossa missão é tornar a saúde acessível e compreensível para todos, utilizando tecnologia de ponta para monitorar métricas importantes como pressão arterial, glicose, peso e muito mais. Queremos capacitar nossos usuários a tomarem decisões informadas sobre sua saúde e bem-estar.</p>

        <h2>Nossa Visão</h2>
        <p>Acreditamos que todos têm o direito a uma vida saudável e equilibrada. Trabalhamos constantemente para desenvolver soluções inovadoras que facilitem o cuidado com a saúde e melhorem a qualidade de vida de nossos usuários.</p>

        <h2>Nossos Valores</h2>
        <ul>
            <li><strong>Segurança e Saúde:</strong> Priorizamos a orientação médica e a prática de atividades físicas de forma segura.</li>
            <li><strong>Acessibilidade:</strong> Oferecemos informações claras e acessíveis para todos, independentemente de idade ou condição física.</li>
            <li><strong>Bem-estar Integral:</strong> Valorizamos a integração entre corpo e mente, promovendo uma abordagem holística para a saúde.</li>
            <li><strong>Empatia e Inclusão:</strong> Acreditamos que cada pessoa é única e merece um cuidado personalizado e respeitoso.</li>
        </ul>

        <h2>Por Que Escolher o <strong>Emotive+</strong>?</h2>
        <p>Com o apoio de especialistas e profissionais de saúde, nossa plataforma oferece conteúdos confiáveis e orientações práticas para que você possa iniciar sua jornada rumo a uma vida mais saudável, com segurança e sem complicação. Estamos aqui para ajudar você a monitorar sua saúde com precisão e tomar decisões informadas.</p>

        <h2>Nossa Equipe</h2>
        <img src="{% static 'img/equipe1.jpeg'%}" alt="equipe1">
        <p>Nossa equipe é composta por alunos do Projeto Transforme-se das Organizações Gerando Falcões e Serasa Experian, em parceria com o Serviço Nacional de Aprendizagem de Pernambuco (Senac). Este projeto foi pensado e desenvolvido para atender e reduzir o alto índice de pessoas que não realizam tratamentos nem acompanhamento de suas doenças. Cada membro da nossa equipe trouxe sua paixão e conhecimento para este projeto, trabalhando incansavelmente para criar uma solução que possa fazer a diferença na vida das pessoas.</p>

        <h2>Apoio Médico</h2>
        <p>Embora nosso foco seja a educação e orientação, entendemos que cada pessoa é única e, por isso, o acompanhamento médico é fundamental. Se você precisar de consultas mais aprofundadas, diagnóstico ou prescrição de tratamentos, nossa plataforma oferece consultas com especialistas qualificados para um acompanhamento personalizado.</p>
    </section>
</main>
    <section class="sobre">
        <div class="sobre">
            <div class="sobreTexto">
                <br>
                <br><br>
                <h2>Sobre a Emotive +</h2>
                <p>Conheça mais sobre a nossa história e o compromisso com a sua saúde.</p>
                <p><a class="emailfooter" href="mailto:contato@emotivesaude.com.br">Contato: contato@emotivesaude.com.br </a></p>
            </div>
        </div>

        <div class="sobreImagem">
            <img  src="{% static 'img/redessociais.png'%}" alt="Cuide da saúde com qualidade">
        </div>
    </section>
        <!-- Rodapé -->
        <footer class="footer">
            <p>&copy; 2024 Emotive+ | Todos os direitos reservados</p>
            <p><a class="emailtermos" href="/sistema/termos">Termos de Uso | Politícas de Privacidade</a></p>
        </footer>
</body>
</html>
