{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Dicas de Saúde</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'img/emotivedicas.png'%}" alt="Logo Hapvida">
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">Página inicial</a></li>
                <li><a href="/dicas/alimentos">Alimentação</a></li>
                <li><a href="/dicas/exercicios">Exercícios</a></li>
                <li><a href="/dicas/sobre">Sobre</a></li>
                <li><a href="/dicas/contato">Contato</a></li>
                <li><a class="btlogin" href="/sistema/login"><i class="fa-solid fa-user"></i> Pacientes</a></li>
            </ul>
        </nav>
    </header>
        <h1 class="Titulo1">Dicas de Exercícios</h1>
        <p class="Frase">Movimente-se hoje para um amanhã mais saudável – cada passo conta na sua jornada de bem-estar.</p>

    <main>
    <section class="post">
        <img src="{% static 'img/yoga2.jpeg'%}" alt="Yoga para doenças crônicas">
        <br><br>
    <div class="post-content">
<p>
•	Atividade:
<br><br>
•	Respiração consciente: Sente-se confortavelmente e concentre-se na respiração. Inspire profundamente pelo nariz, conte até 4 e expire lentamente pelo nariz ou boca. Repita por 2 a 3 minutos. <br><br>
•	Movimentos suaves: <br><br>
•	Movimente os ombros em círculos (3 vezes para frente e 3 para trás). <br><br>
•	Faça movimentos leves de rotação do pescoço. <br><br>
•  	Alongue os braços e as pernas lentamente, evitando esforço excessivo.<br><br>

Dicas Importantes para Yoga com Doenças Crônicas <br><br>
1.	Evite Forçar o Corpo: <br><br>
•	Respeite os limites do seu corpo e ajuste as posturas conforme necessário. Use acessórios como blocos de yoga, cintos ou almofadas. <br><br>
2.	Respiração Constante: <br><br>
•	Nunca prenda a respiração durante as posturas. Respire de forma contínua e controlada. <br><br>
2.	Supervisão: <br><br>
•	Se possível, pratique com um instrutor que possa ajudar na adaptação das posturas à sua condição. <br><br>
3.	Regularidade: <br><br> <br><br>
•	Pratique de 3 a 5 vezes por semana para obter melhores resultados. <br><br>
4.	Evite Posturas Invertidas: <br><br>
•	Pessoas com hipertensão, problemas cardíacos ou dores cervicais devem evitar posturas como o "cachorro olhando para baixo" ou "pino sobre a cabeça".
</p>
</div>
</section>
</main>
<section class="sobre">
    <div class="sobre">
        <div class="sobreTexto">
            <br>
            <br><br>
            <h2>Sobre a Emotive +</h2>
            <p>Conheça mais sobre a nossa história e o compromisso com a sua saúde.</p>
            <p><a class="emailfooter" href="mailto:contato@emotivesaude.com.br">Contato: contato@emotivesaude.com.br </a></p>
        </div>
    </div>

    <div class="sobreImagem">
        <img  src="{% static 'img/redessociais.png'%}" alt="Cuide da saúde com qualidade">
    </div>
</section>
    <!-- Rodapé -->
    <footer class="footer">
        <p>&copy; 2024 Emotive+ | Todos os direitos reservados</p>
        <p><a class="emailtermos" href="/sistema/termos">Termos de Uso | Politícas de Privacidade</a></p>
    </footer>
</body>